node_modules
.bun

.nuxt
.output
.nitro
.cache

dist
build
coverage

logs
*.log

.env
.env.*
!.env.example

.DS_Store
Thumbs.db

.vscode
.idea
*.swp
*.swo

prisma/*.db
prisma/*.sqlite

dump.rdb
appendonly.aof

*.pem
*.key
*.crt.DS_Store
